/*Global CSS */

* {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

span {
    text-transform: uppercase;
}

.container {
   width: 1140px;
   margin: 0 auto;
}

/* Topbar Section */
.topbar {
    padding: 1.7% 0;
    background-color: hsla(0, 100%, 100%, 1);
    top:0;
    width: 100%;
    z-index: 100%;
}

.topbar .logo {
    float: left;
    display: inline;
}

.topbar .menu {
    width: 100%;
}

.topbar .menu a {
    float: right;
    display: block;
    color:#15a4fa;
    text-align: center;
    padding: 0% 2%;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 17px;
    transition: all 0.25s linear;
}

.topbar .menu a:hober {
    background-color: #15a4fa;
    color:#fff;  
    padding: 1% 2%;
}


/*Banner Section*/
.banner {
    background: url(../image/banner-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 650px;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.hero-text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
    margin-bottom: 6px;
    line-height: 0.8;
}

.hero-text .blueLine{
    height: 2px;
    background: #15a4fa;
    width: 500px;
}


.hero-text p {
    color: #fff;
    line-height: 5;
    margin-bottom: 40px;
}

.hero-text .btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #15a4fa;
    padding: 15px 35px;
    display: inline-block;
}

/*about Section*/


.about {
    background: #f6f9f9;
    padding: 80px 0;
    text-align: center;
}

.about h2 {
    color: #2d3950;
    font-size: 35px;
    margin-bottom: 30px;
}

.about p {
    color: #999;
    padding: 0 13%;
    line-height: 1.6;
}

/*Features Section */

.features {
    padding: 80px 0;
    float: left;
    width: 100%;
}

.box {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.box img {
    margin-bottom: 20px;
}

.box h4 {
    margin-bottom: 20px;
}

.box h4 {
    margin-bottom: 20px;
}

.box p {
    padding: 0 5%;
    line-height: 1.5;
    color: #999;
}

/*Portfolio Section*/

.gallery {
    background: #f6f9f9;
    padding: 2% 0;
    float: left;
    width: 100%;
    padding-bottom: 4%;
}

.showcase {
    text-align: center;
    margin: 6% 0;
    margin-top: 3%;
}

.showcase h4 {
    font-weight: 400;
    font-size: 35px;
    color: #2d3950;
}

.showcase p { 
    color:#999;
    font-size: 17px;
    margin-top: 1.5%
}

.gallery-images {
    width: 100%;
}

.gallery-image1, .gallery-image3, .gallery-image4, .gallery-image5, .gallery-image6 {
    position: relative;
    float: left;
    width: 32%;
    margin: 7px;
}

.hober1, .hober2, .hober3, .hober4, .hober5, .hober6 {
    position: absolute;
    background: hsla(203, 84%, 52%, 0.65);
    width: 100%;
    /* height: 100%; */
    border-radius: 4px;
    top:0;
    left: 0;
    transition: all 0.25s linear;
}

.hober1 ul, .hober2 ul, .hober3 ul, .hober4 ul, .hober5 ul, .hober6 ul{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.hober1 ul li, .hober2 ul li, .hober3 ul li, .hober4 ul li, .hober5 ul li, .hober6 ul {
    display: inline-block;
}

.portfolio .image-box .hober ul li img {}

.portbox {
float: left;

width: 100%;

background: #f6f9f9;

padding: 2% 0;

padding-bottom: 4%;
}


/*Subscription Section*/
.subscription {
    float: left;
    width: 100%;
    padding: 4% 0;
    background: linear-gradient(rgba(45, 57, 80, .7), rgba(45, 57, 80, .7));
    background-size: cover;
    background-position: center;
}

.sub-header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4%;
}

.sub-header h4{
    font-size: 41px;
    font-weight: 400;
    color: #fff;
}

.sub-header p{
    font-size: 14px;
    color: #999;
    line-height: 2;
}

.subscription form{
    width: 50%;
    margin: 0 auto;
}

.subscription form textarea{
    width: 100%;
    background: transparent;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 4%;
    margin: 2%;
    font-size: 15px;
    outline: 0;
    box-sizing: border-box;
    color: #fff;
}

.subscription form input[type="checkbox"] {
    width: 6%;
    margin: 0 0;
    box-sizing: border-box;
}

.subscription form p {
    display: inline;
    color: #fff;
    font-size: 14px;
}

.subscription form input[type="button"] {
    float: right;
    background: transparent;
    border: 1px solid #15a4fa;
    color: #fff;
    padding: 2% 7%;
    margin-right: -2%;
    border-radius: 3px;
    transition: all 0.25s linear;
}

.footer {
    float: left;
    width: 100%;
    background-color: #f6f9f9;
}

.copyrights {
    float: left;
    padding: 2%;
}

.copyrights p {
    box-sizing: border-box;
    display: inline;
    margin-top: 6%;
}

.support {
    font: right;
    margin: 0 .3%;
    margin-top: 1%;
    transition: all 0.25s linear;
}